<body>
<div class="main">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" routerLink="/home" class="hh"></mat-icon>
    
    <button class="bg" mat-raised-button color="primary"  routerLink="/Owner/owner-sign-in">Sign in</button>
    
        
    
      <!----  <button class="bg" mat-raised-button color="primary"  routerLink="/owner/ownersignin">Sign in</button>-->
    
        <button class="bg" mat-raised-button color="primary"  routerLink="/Owner/owner-sign-up">Sign up</button>
        <button class="bg" mat-raised-button color="primary"  (click)="newRegistration()">New Hotel Registration</button>

       <!---- <button  class="btn btn-dark bg" routerLink="/Owner/osucces" >Hotel List</button>-->
    
    
       <!-- <button class="bg" mat-raised-button color="primary"  (click)="newRegistration()">Registration</button>
    
        <button  class="btn btn-dark bg" routerLink="/owner/osucces">Hotel List</button>-->
    
        
    </div>
</body>