

<body>
<mat-toolbar color="primary">
  <span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" routerLink="/home" class="hh"></mat-icon>
    
  
    My Application</span>
    <div class="space"></div>
    <button mat-button (click)="Journey('Admin')"  routerLink="/Admin" >Admin</button>
    <button mat-button (click)="Journey('Owner')" routerLink="/Owner">Owner</button>
    <button mat-button (click)="Journey('User')" routerLink="/User">User</button>
  </mat-toolbar>
  
</body>