//.main{
 //   border: 2px solid rgb(218, 165, 165);
 //   background-color: #b2becf;
  //  width: 25%;
  //  margin-left: auto;
  //  margin-right: auto;
  //  padding: 15px;
  //  box-shadow: 2px 2px 2px 2px rgb(57, 103, 144);
    // text-align: center;
//}
//h1{
 //   color: rgb(57, 103, 144);
  //  font-family: Arial, Helvetica, sans-serif;
//}
//body{
    //background-image: url('~src/assets/nn.jpg');
 //   -webkit-background-size:cover;
 ////   background-size:cover;
  //  background-position: center center;
  //  font-family: poppins;
//}
//.main{
  //  width:500px;
    //height:850px;
    //margin:60px auto 0;
  //  background:transparent;
   // text-align: center;
//padding:10px;
//border:3px solid #150e0e;
//border-radius:70px 0 70px 0;
//}
//h1{
   // margin-bottom:10px;
   // color:#fff;
   // text-transform:uppercase;
   // letter-spacing:2px;

//}
//input{
  //  width:200%;
   // height:10px;
   // border-radius:15px 0 15px 0;
   // border:2px solid #fff;
   // margin-bottom:5px;
   // background:trasparent;
   // background: aqua;
   // color:rgb(26, 197, 38);}
   // .mat-label{
       // text-align:left;
       // color:#fff;
       // text-transform:uppercase;
      //  font-weight: bold;
    //}
    //.btn{
      //  display:block;
       // height:40px;
       // line-height:40px;
       // text-align:center;
        
        //border-radius:25px;
       // color:#fff;
       // text-transform:uppercase;
       // margin-top:15px;
       // cursor:pointer;
        //text-decoration:none;
       // letter-spacing:5px;



    //}
    mat-card{
        max-width:600px;
        margin:2em auto;
        text-align:center;
        max-height:1200px;
        box-shadow:10px 10px 10px 10px  rgb(165, 171, 173);
    }
.header{
    text-align:center;

}
.full-width{
    width:80%

}
.email-input{
    padding-top:6px;
}
//body{ //background-image: url('~HotelsManagement/src/assets/rr.jpg');
   // background-image: url('~src/assets/hotel.jpg');
   //  background-repeat: no-repeat; 
   //  background-size:cover; }


