
.hh{
    font-size: 30px;
    height:30px;
    width:30px;
    margin-left: 20px;
    margin-top:20px;
}
.bg{
    margin-left: 50px;
    
}
body{ //background-image: url('~HotelsManagement/src/assets/rr.jpg');
    background-image: url('~src/assets/bgg.jpg');
     background-repeat: no-repeat; 
     background-size:cover; }
