
    <!--
<div class="main">
<button mat-stroked-button color="primary" (click)="Journey('Admin')"  routerLink="/Admin">Admin</button>
<button mat-stroked-button color="primary" (click)="Journey('Owner')" routerLink="/Owner">Owner</button>
<button mat-stroked-button color="primary" (click)="Journey('User')" routerLink="/User">User</button>

</div>-->
<!--<mat-toolbar color="primary">
    <span>My Application</span>
    <div class="space"></div>
    <button mat-button (click)="Journey('Admin')"  routerLink="/Admin/admin-landing" >Admin</button>
    <button mat-button (click)="Journey('Owner')" routerLink="/Owner">Owner</button>
    <button mat-button (click)="Journey('User')" routerLink="/User">User</button>
  </mat-toolbar>-->
  

<router-outlet></router-outlet>
